@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@1,500&display=swap');

.button{
    background-color: #42FF00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    color: #002801;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}